body {
    margin: 0;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
    align-self: center;
    padding: 32px 0;
}
nav {
    background-color: #EEE;
    font-size: 14px;
    padding: 16px;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    display: flex;
}
li.nav-item {
    margin-right: 48px;
}
.logo {
    margin-right: auto;
}
.cta {
    background-color: #CCDDEE;
    padding: 8px;
    display: flex;
    justify-content: center;
    width: 120px;
    align-self: center;
}
header {
    background-color: #CCDDEE;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 18px 0;
}
.row {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.card {
    background-color: #8899AA;
    width: 27vw;
    height: 20vh;
    margin: 0 40px 40px 40px;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    align-items: flex-start;
}

/* For screen sizes between 500px and 800px */ 
@media (min-width: 500px) and (max-width: 800px) {
    .nav-item {
        display: none;
        visibility: hidden;
    }
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        height: 18px;
        justify-content: space-between;
    }
    .line {
        width: 32px;
        border: 1px solid black;
    }
  }

/* For screen sizes less than 500px */ 
@media (max-width: 500px) {
    .nav-item {
        display: none;
        visibility: hidden;
    }
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        height: 18px;
        justify-content: space-between;
    }
    .line {
        width: 32px;
        border: 1px solid black;
    }
    .column {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 80vw;
    }
}