body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #202124
}
nav {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}
.desktop-nav {
    display: none;
    visibility: hidden;
}
.menu {
    width: 26px;
}
.logo {
    width: 180px;
}
.pending {
    transform: rotate(90deg); 
    width: 32px;
}
.search {
    width: 32px;
}
.profile {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
.banner {
    background-color: #1B72E8;
    color: white;
    padding: 16px;
}
h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
}
h1 {
    font-size: 46px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    padding: 0 24px;
}
h2 {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    padding: 0 16px
}
header {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.funky-illo {
    padding: 40px 0;
    width: 230px;
    height: 230px;
    object-fit: cover;
}
.blue-btn {
    color: white;
    background-color: #1B72E8;
    font-size: 18px;
    border: none;
    padding: 12px 24px;
    border-radius: 26px;
}
.blog {
    background-color: #F1F3F4;
    padding: 20px 40px;
}
.info {
    display: flex;
    align-items: center;
}
.info-icon {
    width: 14px;
    height: 14px;
}
h4 {
    font-size: 16px;
    font-weight: 300;
    line-height: 2.1;
    width: 70vw;
}

.tabs {
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

::-webkit-scrollbar {
    display: none;
  }

.tab {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 14px;
    font-size: 14px;
    margin-right: 8px;
}
.tab-active {
    background-color: #E8F0FE;
    color:  #1B72E8;
    border: 1px solid  #1B72E8;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 14px;
    font-size: 14px;
    margin-right: 8px;
}
.article {
    width: 18px;
}
.label {
    font-size: 12px;;
}
.google-icon {
    width: 30px;
    height: auto;
}
.article-title {
    font-size: 18px;
    color: #1B72E8;
    font-weight: 400;
    padding: 0;
}
.label-container {
    display: flex;
    align-items: center;
}
.posts {
    padding: 16px 0;
    display: flex;
    overflow: auto;
}
.card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px 14px;
    min-width: 250px;
    margin-right: 8px;
}
.card-footer {
    display: flex;
    align-items: center;
}
.tab-grey {
    font-size: 14px;
    border-radius: 6px;
    padding: 4px 12px;
    background-color: rgb(234, 234, 234);
}
p {
    line-height: 1.6;
}
/* Desktop */
@media screen and (min-width: 600px) {
    .banner {
        display: flex;
        justify-content: center;
        padding: 8px;
    }
    h1 {
        font-size: 72px;
        padding: 0;
    }

    h2 {
        padding: 0;
    }

    header {
       display: flex;
       flex-direction: row;
       display: flex;
       justify-content: flex-start;
       text-align: left;
       align-items: flex-start;
       padding: 90px 62px;
    }
    .funky-illo {
        width: 480px;
        height: 480px;
        margin: 0 auto;
    }
    .banner-box {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        align-items: flex-start;
        flex-direction: column;
        width: 45vw;
    }
    .info {
        max-width: 380px;
    }
    .menu {
        display: none;
        visibility: hidden;
    }
    .search {
        display: none;
        visibility: hidden;
    }
    .logo {
        width: 210px;
    }
    ul {
        list-style: none;
    }
    .desktop-nav {
        visibility: visible;
        display: flex;
    }
    li {
        margin-right: 40px;
    }
    nav {
        align-items: center;
        padding: 4px 16px;
    }
}
