<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week 3 - Assignment 3</title>
    <link rel="stylesheet" type="text/css" href="styles.css" /> 
</head>
<body>
    <form action="/sum" method="post">
        <input placeholder = "Enter a positive number" id="number" name="inputNum" type="text" />
        <input type="submit" value="Submit" id="submit" />
    </form>
    <div>
        <span id="message">
           <%= locals?.message %>
        </span>
    </div>
    <!-- <script src="index.js"></script> -->
</body>
</html>